In [2]:
import pandas as pd
train = pd.read_csv("http://archive.ics.uci.edu/ml/machine-learning-databases/madelon/MADELON/madelon_train.data", delimiter=' ', header=None)
y_train = pd.read_csv("http://archive.ics.uci.edu/ml/machine-learning-databases/madelon/MADELON/madelon_train.labels", delimiter=' ', header=None)

In [3]:
train = train.drop(columns=[500])
train.head()

,0,1,2,3,4,5,6,7,8,9,...,490,491,492,493,494,495,496,497,498,499
0,485,477,537,479,452,471,491,476,475,473,...,477,481,477,485,511,485,481,479,475,496
1,483,458,460,487,587,475,526,479,485,469,...,463,478,487,338,513,486,483,492,510,517
2,487,542,499,468,448,471,442,478,480,477,...,487,481,492,650,506,501,480,489,499,498
3,480,491,510,485,495,472,417,474,502,476,...,491,480,474,572,454,469,475,482,494,461
4,484,502,528,489,466,481,402,478,487,468,...,488,479,452,435,486,508,481,504,495,511

In [4]:
y_train.describe()

                0
count  2000.00000
mean      0.00000
std       1.00025
min      -1.00000
25%      -1.00000
50%       0.00000
75%       1.00000
max       1.00000

In [5]:
y_train[0].value_counts()

 1    1000
-1    1000
Name: 0, dtype: int64

In [6]:
train.isnull().sum()

0      0
1      0
2      0
3      0
4      0
      ..
495    0
496    0
497    0
498    0
499    0
Length: 500, dtype: int64

In [7]:
from sklearn import preprocessing
min_max_scaler = preprocessing.MinMaxScaler()

train_scaled = pd.DataFrame(
    min_max_scaler.fit_transform(train),
    index=train.index,
    columns=train.columns)

train_scaled.head()

,0,1,2,3,4,5,6,7,8,9,...,490,491,492,493,494,495,496,497,498,499
0,0.560976,0.438356,0.588028,0.393939,0.255521,0.260870,0.566787,0.5,0.424528,0.375000,...,0.492958,0.529412,0.491429,0.449367,0.578947,0.330798,0.558140,0.44,0.398577,0.516667
1,0.512195,0.351598,0.316901,0.515152,0.681388,0.347826,0.693141,0.8,0.518868,0.291667,...,0.394366,0.441176,0.548571,0.263291,0.587045,0.334601,0.604651,0.57,0.523132,0.633333
2,0.609756,0.735160,0.454225,0.227273,0.242902,0.260870,0.389892,0.7,0.471698,0.458333,...,0.563380,0.529412,0.577143,0.658228,0.558704,0.391635,0.534884,0.54,0.483986,0.527778
3,0.439024,0.502283,0.492958,0.484848,0.391167,0.282609,0.299639,0.3,0.679245,0.437500,...,0.591549,0.500000,0.474286,0.559494,0.348178,0.269962,0.418605,0.47,0.466192,0.322222
4,0.536585,0.552511,0.556338,0.545455,0.299685,0.478261,0.245487,0.7,0.537736,0.270833,...,0.570423,0.470588,0.348571,0.386076,0.477733,0.418251,0.558140,0.69,0.469751,0.600000

In [9]:
train_scaled.to_csv("../datasets/new_madelon_train.csv")

FileNotFoundError: [Errno 2] No such file or directory: '../datasets/new_madelon_train.csv'